<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>

    <link type="text/css"
          rel="stylesheet"
          href="{{ url_for('static',filename='styles/geolocation.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}"/>
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg', color='#5bbad5') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"/>

    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

<!--    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>-->
<!--    <script src="https://unpkg.com/leaflet-providers@latest/leaflet-providers.js"></script>-->

</head>
<body>
<form method="GET" action="/geolocation">

    <div class="container_left">

    <div id="geolocation"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeVM00ZOViJEEcnh02uQi5UICYLbBam30&callback=initMap&v=weekly&solution_channel=GMP_CCS_geolocation_v2"
      defer
    ></script>
  </body>
</html>